{% extends "chinese_hsk/layout.html" %}
{% block body %}
        <div class="container">
            <div class="row justify-content-md-center">
              <div class="col col-lg-1">
               
              </div>
              <div class="col-md-auto" style="margin: 25px 50px 75px 100px">
                <h1>知之者不如好之者，好之者不如乐之者。</h1>
                <h2>Click on the HSK Level appropriate for your Level! Have fun learning!</h2>
              </div>
              <div class="col col-lg-2">
               
              </div>
            </div>
       

        <div class="row" >
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">HSK 1</h5>
                  <p class="card-text">A good place to start. HSK 1 corresponds roughly to A1.</p>
                  <a href= "{% url 'hsk_texts' 1 %}" class="btn btn-dark">学习</a>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">HSK 2 </h5>
                  <p class="card-text">Keep it up! HSK 2 corresponds roughly to A2.</p>
                  <a href="{% url 'hsk_texts' 2 %}" class="btn btn-dark">学习</a>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">HSK 3 </h5>
                    <p class="card-text">很不错！HSK 3 corresponds roughly with B1. </p>
                    <a href="{% url 'hsk_texts' 3 %}" class="btn btn-dark">学习</a>
                  </div>
                </div>
              </div>
          </div>
          <div class="row" >
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">HSK 4</h5>
                  <p class="card-text">滴水穿石，不是因为力量大，而是因为坚持不懈。HSK4 大概等于 B2.</p>
                  <a href="{% url 'hsk_texts' 4 %}" class="btn btn-dark">学习</a>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">HSK 5</h5>
                  <p class="card-text">知之为知之，不知为不知，是知也。HSK5 大概等于 B2/C1. </p>
                  <a href="{% url 'hsk_texts' 5 %}" class="btn btn-dark">学习</a>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">HSK 6 </h5>
                    <p class="card-text">敏而好学，不耻下问。不仅如此你已经很厉害！HSK6 大概等于 C1. </p>
                    <a href="{% url 'hsk_texts' 6 %}" class="btn btn-dark">学习</a>
                  </div>
                </div>
              </div>
          </div>
          <div class="row" >
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">HSK 7-9</h5>
                  <p class="card-text">你学富五车，又学而不厌。这个水平大致相当于C2。</p>
                  <a href="{% url 'hsk_texts' 9 %}" class="btn btn-dark">学习</a>
                </div>
              </div>
            </div>
              </div>
          </div>

  {% endblock %}