{% extends "chinese_hsk/layout.html" %}
{% block body %}

<div class="container">
    <h2>Fill in the Blanked-Out Segment</h2>
    <p>{{ paragraph_blanked }}</p>

    <div class="segment-words">
        <p>Select the missing words in the correct order:</p>
        {% for word in segment_words %}
            <button class="btn btn-secondary word-button" data-word="{{ word }}">{{ word }}</button>
        {% endfor %}
    </div>
    
    <!-- Display for user-constructed segment -->
    <div class="container"></div>
    <div class="container" id="user-output">
    </div>

    <!-- Single result message div -->
    <div class="container" style="margin-top: 20px;">
        <div class="container" id="result-message">

        </div>
    </div>
</div>

<script>
    // Ensure correctSegment is treated as a string
    const correctSegment = "{{ random_segment|safe }}";
    console.log("correctSegment");
    let userText = [];

    document.querySelectorAll('.word-button').forEach(button => {
        button.addEventListener('click', function() {
            
            console.log(button.innerText);
            userText.push(button.innerText);
            this.disabled = true;
            console.log(userText);
            var userTextString = userText.join("");
            console.log(userTextString);
            document.querySelector('#user-output').innerText = userTextString;
    
            if(userTextString.length === correctSegment.length){
                console.log("This works!!!");
                if(userTextString === correctSegment){
                    document.querySelector('#result-message').innerText = "Congratulation! You did it!"
                }
                else{
                    userText = [];
                    document.querySelector('#result-message').innerText = "Incorrect, Try again!";
                    document.querySelectorAll('.word-button').forEach(button => {
                        button.disabled = false; // Enable each button
                    });
                }
    
            }
    
            });
    });

</script>


{% endblock %}
